.overlay{
    position: fixed;
    background-color: #F4F8FF;
    min-width: 100%;
    min-height: 100vh;
    z-index: 17;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slider-loader .8s ease .5s forwards;
    -webkit-animation: slider-loader .8s ease .5s forwards;
}

@keyframes slider-loader {
   to{
      transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
   }


.hypnotic {
    width: 56px;
    height: 56px;
    position: relative;
    border-radius: 50%;
    background: repeating-conic-gradient(#F4F8FF,#457AD4 1deg 18deg,#0000 20deg 36deg);
    animation: hypnotic-nlk15k 4s infinite linear;
 }
 
 .hypnotic::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: inherit;
    animation: inherit;
 }
 
 @keyframes hypnotic-nlk15k {
    100% {
       transform: rotate(.5turn);
    }
 }

 .overlay p{
    font-family: gotham, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.6px;
    margin: 1rem;
 }