header nav{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    background-color: var(--buttonBgPrimaryColor);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    z-index: 2;
    top: -100rem;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out; 
}

header nav.opened{
    top:0rem; 
    left: 0vw;
}

ul li{
    list-style-type: none;
}

li a{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: clashGrotesk;
    display: block;
    text-decoration: none;
    margin: 0 auto 1rem;
    max-width: fit-content;
}

ul:last-of-type li a{
    background-color: transparent;
    color: white;
    border: 2px solid var(--buttonSecondaryBgColor);
    padding: 1rem 1.5rem;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}

nav > button{
    display: block;
    max-width: 4rem;
    margin: 0 0 0 auto;
}

ul:last-of-type li a:hover{
    background-color: var(--buttonSecondaryBgColor);
    color: white;
}

.hero{
    background-image: linear-gradient(to bottom right, var(--blueGradientLight) 5%, var(--blueGradientDark));
    height: 45rem;
    overflow: hidden;
    padding: 9rem 0 0;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 1300px;
    margin: 0 auto 5rem;
    padding: 2rem 0 0 ;
    position: absolute;
    top: 0;
    left: 5vw;
    opacity: 0;
    animation: show-header .4s ease forwards calc(var(--delay) * 5.5 );
    -webkit-animation: show-header .4s ease forwards calc(var(--delay) * 5.5 );
    z-index: 8;
}

.hero header.active{
    width: 100vw;
    max-width: 100vw;
    background-color: #25427577;
    padding: 1rem 5vw;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 8;
    box-shadow: 0 0 1rem .5rem rgba(53, 53, 53, 0.212);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0rem;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.hero header.inactive-scrolling{
    transform: translateY(-100rem) translateX(0);
    -webkit-transform: translateY(-100rem) translateX(0);
    -moz-transform: translateY(-100rem) translateX(0);
    -ms-transform: translateY(-100rem) translateX(0);
    -o-transform: translateY(-100rem) translateX(0);
    left: 0;
}

a img[alt="website logo"]{
    max-width: 3rem;
}

header button{
    background-color: transparent;
    border: none;
}

.hero-inner{
    max-width: fit-content;
    margin: auto;
}

.hero .sub-heading{
    text-align: center;
    font-size: 1.6rem;
    font-family: gotham, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -0.9px;
    color:white;
    margin: 0 0 1rem 0;
    transform-origin: 0%;
    opacity: 0;
    transform:rotateX(-20deg) translateY(70px);
    -webkit-transform:rotateX(-20deg) translateY(70px);
    -moz-transform:rotateX(-20deg) translateY(70px);
    -ms-transform:rotateX(-20deg) translateY(70px);
    -o-transform:rotateX(-20deg) translateY(70px);
    animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 1);
    -webkit-animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 1);
}

.hero .hero-heading{
    max-width: 90vw;
    margin: 0 auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.hero-heading h1:first-of-type{
    padding-top: .5rem;
}

.hero-heading h1{
    font-size: 2.4rem;
    font-family: clashGrotesk, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    transform-origin: 0%;
    opacity: 0;
    transform:rotateX(-20deg) translateY(70px);
    -webkit-transform:rotateX(-20deg) translateY(70px);
    -moz-transform:rotateX(-20deg) translateY(70px);
    -ms-transform:rotateX(-20deg) translateY(70px);
    -o-transform:rotateX(-20deg) translateY(70px);
    animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 1.5);
    -webkit-animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 1.5);
}

.hero-heading h1:last-of-type{
    animation-delay: calc(var(--delay) * 2 );
    animation-duration: 2;
}

.hero .hero-intro{
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.3;
    font-family: gotham, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -0.9px;
    color:white;
    width: 90vw;
    margin: auto;
    max-width: 600px;
    margin: 3rem auto 4rem;
    opacity: 0;
    transform:rotateX(-20deg) translateY(70px);
    -webkit-transform:rotateX(-20deg) translateY(70px);
    -moz-transform:rotateX(-20deg) translateY(70px);
    -ms-transform:rotateX(-20deg) translateY(70px);
    -o-transform:rotateX(-20deg) translateY(70px);
    animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 3 );
    -webkit-animation: show 2s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 3 );
}

.hero .hero-ctas{
    max-width: fit-content;
    margin: auto;
    position: relative;
    z-index: 4;
}

.hero-ctas a button{
    background-color: var(--buttonBgPrimaryColor);
    border: 1px solid black;
    border-radius: .3rem;
    padding: 1rem 1.5rem;
    color:white;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    box-shadow: 3px 3px 0rem 0rem black;
    font-size: 1.6rem;
    margin: 0 2rem 0 0;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    animation: show-button 2s infinite ease;
    -webkit-animation: show-button 1s forwards ease calc(var(--delay) * 5 );
    opacity: 0;
}

.hero-ctas a:last-of-type button{
    background-color: transparent;
    color: white;
    border: 1px solid var(--buttonSecondaryBgColor);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    box-shadow: none;
    animation-delay: calc(var(--delay) * 5.5 );
}

.hero-ctas button a{
    color: inherit;
    text-decoration: none;
}

.hero .pattern{
    max-width: 100%;
    position: relative;
    bottom: 0;
    opacity: 0;
    animation: show-pattern 1s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 6 );
    -webkit-animation: show-pattern 1s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 6 );
}

@media screen and (min-width: 800px) {
    header nav{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: .6;
        position: static;
        width: 100vw;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        padding: 0rem;
    }

    ul li{
        list-style-type: none;
    }

    li a{
        text-decoration: none;
        color: white;
        font-family: gothamMedium;
        letter-spacing: -0.6px;
        font-size: 1.4rem;
        font-weight: normal;
    }

    nav > button{
        display: none;
    }
    
    .hero{
        min-height: 45rem;
    }

    .hero .menu-icons{
        display: none;
    }

    .hero-heading h1{
        font-size: 5rem;
    }
}

/* hover effects */
.hero-ctas > a:first-of-type button:hover{
    box-shadow: 3.5px 3.5px 0rem 0rem black;
    transform: translate(-.2rem, -.2rem);
    -webkit-transform: translate(-.2rem, -.2rem);
    -moz-transform: translate(-.2rem, -.2rem);
    -ms-transform: translate(-.2rem, -.2rem);
    -o-transform: translate(-.2rem, -.2rem);
}

.hero-ctas > a:first-of-type button:active{
    transform: translate(.4rem, .4rem);
    box-shadow: 1px 1px 0rem 0rem black;
    -webkit-transform: translate(.4rem, .4rem);
    -moz-transform: translate(.4rem, .4rem);
    -ms-transform: translate(.4rem, .4rem);
    -o-transform: translate(.4rem, .4rem);
}

@keyframes show {
    to {
    opacity: 1;
    transform:rotateX(0deg) translateY(0px);
    -webkit-transform:rotateX(0deg) translateY(0px);
    -moz-transform:rotateX(0deg) translateY(0px);
    -ms-transform:rotateX(0deg) translateY(0px);
    -o-transform:rotateX(0deg) translateY(0px);
}
}

@keyframes show-button {
    to{
        opacity: 1;
    }
}

@keyframes show-header {
    to{
        opacity: 1;
    }
}

@keyframes shrink {
    to{
        height: 40rem;
    }
}

@keyframes show-pattern {
    to{
        opacity: 1;
    }
}