.single-project{
    width: 90vw;
    max-width: 500px;
    margin:0 auto 4rem;
}

.image-and-controls{
    position: relative;
    margin: 0 0 5rem 0;
}

.images-container{
    border:solid;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40rem;
    width: calc(100% - .5rem);
    box-shadow: .5rem .4rem 0rem black;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.splide__track--draggable{
    height:100%;
}

.splide__arrows{
    position: absolute;
    width: 13rem;
    right: 5rem;
    bottom: -0%;
}

.splide__arrows button{
    background-color: var(--buttonBgPrimaryColor);
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.527);
    width: 4rem;
    height:4rem;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    opacity: 1;
}

.splide__arrows button svg{
    fill: white;
}

.splide__arrow:disabled{
    opacity: .7 !important;
}

.splide__arrow:hover:not(:disabled) {
    opacity: 1 !important;
    transform:translateY(-50%) scale(1.05);
    -webkit-transform:translateY(-50%) scale(1.05);
    -moz-transform:translateY(-50%) scale(1.05);
    -ms-transform:translateY(-50%) scale(1.05);
    -o-transform:translateY(-50%) scale(1.05);
}

.splide__pagination{
    display:none !important;
}

.images-container img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

.image-and-controls .controls{
    position: absolute;
    right: 5rem;
    bottom: -5%;
    display: none;
}

.controls button{
    background-color: var(--buttonBgPrimaryColor);
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.527);
    width: 4rem;
    height:4rem;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.controls button:last-of-type{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    box-shadow: 0 -.2rem .5rem rgba(0, 0, 0, 0.527);
}

.project-description h1{
    font-size: 1.8rem;
    font-family: clashGrotesk;
    font-weight: 500;
    margin: 0 0 3rem 0;
}

.project-description p{
    font-size: 1.4rem;
    font-family: gotham;
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin: 1rem 0 3rem 0rem;
    color: var(--projectDescriptionText);
}

.tags{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tags span{
    color: white;
    font-family: gotham;
    background-color: var(--languageTagBgColor);
    padding: .8rem 1.5rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    margin: 0 1rem .5rem 0;
    font-size: 1.1rem;
    opacity: .6;
}

.project-buttons{
    margin: 0 0 5rem 0;
}

.project-buttons a{
    text-decoration: none;
}

.project-buttons a button{
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.project-buttons button img{
    margin: 0 0 0rem .7rem;
}

.project-buttons a:first-child button{
    background-color: var(--buttonBgPrimaryColor);
    border: 1px solid black;
    border-radius: .3rem;
    padding: .9rem 1em;
    color:white;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    box-shadow: 3px 3px 0rem 0rem black;
    font-size: 1.4rem;
    display: inline-flex;
    align-items: center;
    margin: 0 2rem 1rem 0;
}

.project-buttons a:last-child button{
    background-color: var(--sourceCodeButtonColor);
    border: 1px solid black;
    border-radius: .3rem;
    padding: .9rem 1em;
    color:white;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    box-shadow: 3px 3px 0rem 0rem black;
    font-size: 1.4rem;
    display: inline-flex;
    align-items: center;
    margin: 0 2rem 0 0;
}

@media screen and (min-width:1100px) {
    .single-project{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        max-width: var(--laptop);
    }

    .single-project > div{
        flex: 1;
    }

    .images-container{
        width: calc(95% - .7rem);
        height: 50rem;
        margin-left: auto;
        box-shadow: .4rem .4rem 0rem black;
    }

    .image-and-controls .controls{
        position: absolute;
        right: 5rem;
        bottom: -5%;
    }

    .project-description h1{
        font-size: 2.2rem;
    }

    .project-description p{
        letter-spacing: -0.7px;
        font-size: 1.5rem;
        line-height: 1.5;
        padding: 0 3rem 0 0;
    }
}

/* hover effects */
.project-buttons > a button:hover{
    box-shadow: 3.5px 3.5px 0rem 0rem black;
    transform: translate(-.2rem, -.2rem);
    -webkit-transform: translate(-.2rem, -.2rem);
    -moz-transform: translate(-.2rem, -.2rem);
    -ms-transform: translate(-.2rem, -.2rem);
    -o-transform: translate(-.2rem, -.2rem);
}

.project-buttons > a button:active{
    transform: translate(.4rem, .4rem);
    box-shadow: 1px 1px 0rem 0rem black;
    -webkit-transform: translate(.4rem, .4rem);
    -moz-transform: translate(.4rem, .4rem);
    -ms-transform: translate(.4rem, .4rem);
    -o-transform: translate(.4rem, .4rem);
}

.controls button:first-child:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 -.2rem .8rem rgba(0, 0, 0, 0.37);
}

.controls button:last-child:hover{
    transform: scale(1.1) rotate(180deg);
    -webkit-transform: scale(1.1) rotate(180deg);
    -moz-transform: scale(1.1) rotate(180deg);
    -ms-transform: scale(1.1) rotate(180deg);
    -o-transform: scale(1.1) rotate(180deg);
    box-shadow: 0 -.2rem .8rem rgba(0, 0, 0, 0.37);
}

.controls button:active{
    scale: 0.9;
}